*{
	margin: 0;
	padding: 0;
}
body {
	padding: 0px;
	margin: 0px;
	background-image: url("background.jpg");
	font-family: Arial, Times New Roman;
	font-size: 13px;
}
.theh1 {
	position: fixed;
	left: 50%;
	top: 10%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-decoration: none;
	color: green;
}
#menu {
	margin: 70px 0 0 570px;
}
#menu ul {
	list-style-type: none;
	text-align: center;
	z-index: 1;
}
#menu ul li {
	border: 1px dotted yellow;
	float: bottom;
	background-color: black;
	height: auto;
	width: 220px;
	text-align: center;
	z-index: 1;
}
#menu ul li a {
	text-decoration: none;
	color: yellow;
	display: block;
	padding: 10px 0 10px 0;
	z-index: 1;
}
#menu ul li a:hover {
	color: blue;
	display: block;
	background-color: yellow;
}