*{
	margin: 0;
	padding: 0;
}
body {
	padding: 0px;
	margin: 0px;
	background-image: url("../img/background.jpg");
	font-family: Arial, Times New Roman;
	font-size: 13px;
}
.content {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.a2 {
	text-align: center;
	width: 120px;
	height: 30px;
	border: none;
	background: #2a4fa4;
	color: white;
	border-radius: 5px 5px;
}
.a1 {
	text-decoration: none;
	color: white;
}
.a2:hover{
	background: black;
	color: yellow;
}
.a1:hover{
	background: black;
	color: yellow;
}
.center {
	text-align: center;
}
.error {
	color: red;
}
.ban {
	color: blue;
	padding: 10px 10px 10px 10px;
}